#  Summarizing and Computing Descriptive Statistics

In [10]:
import pandas as pd
import numpy as np

In [13]:
df  =pd.DataFrame([[1.4,np.nan],[7.4,-1.7],[np.nan,np.nan],[0.75,-1.3]],
                  index=['a','b','c','d'],columns=["one",'three'])

In [14]:
df

    one  three
a  1.40    NaN
b  7.40   -1.7
c   NaN    NaN
d  0.75   -1.3

In [15]:
# 1 function of summarizing sum
df.sum()

one      9.55
three   -3.00
dtype: float64

In [16]:
df.sum(axis='columns')

a    1.40
b    5.70
c    0.00
d   -0.55
dtype: float64

In [21]:
# secand function is mean 
df.mean(axis='columns',skipna=True)

a    1.400
b    2.850
c      NaN
d   -0.275
dtype: float64

In [20]:
df

    one  three
a  1.40    NaN
b  7.40   -1.7
c   NaN    NaN
d  0.75   -1.3

In [22]:
# 2 function mean
df.mean(axis='columns',skipna=False)

a      NaN
b    2.850
c      NaN
d   -0.275
dtype: float64

In [23]:
# 3 function idxmax
df.idxmax()

one      b
three    d
dtype: object

In [24]:
# 4 function idxmin
df.idxmin()

one      d
three    b
dtype: object

In [25]:
# 5 function cumsum
df.cumsum()

    one  three
a  1.40    NaN
b  8.80   -1.7
c   NaN    NaN
d  9.55   -3.0

In [26]:
# 6 function describe
df.describe()

            one     three
count  3.000000  2.000000
mean   3.183333 -1.500000
std    3.666174  0.282843
min    0.750000 -1.700000
25%    1.075000 -1.600000
50%    1.400000 -1.500000
75%    4.400000 -1.400000
max    7.400000 -1.300000

In [27]:
obj = pd.Series(["a",'a','b','c'] * 4)

In [28]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [29]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [30]:
# 7 function count
df.count()

one      3
three    2
dtype: int64

In [31]:
df

    one  three
a  1.40    NaN
b  7.40   -1.7
c   NaN    NaN
d  0.75   -1.3

In [32]:
# 8 function max
df.max()

one      7.4
three   -1.3
dtype: float64

In [33]:
# 9 function idxmin
df.min()

one      0.75
three   -1.70
dtype: float64

In [35]:
# 10 function quantile
df.quantile(0.25)

one      1.075
three   -1.600
Name: 0.25, dtype: float64

In [36]:
df.quantile(0.75)

one      4.4
three   -1.4
Name: 0.75, dtype: float64

In [37]:
df.quantile(0.1)

one      0.88
three   -1.66
Name: 0.1, dtype: float64

In [38]:
# 11 function median
df.median()

one      1.4
three   -1.5
dtype: float64

In [39]:
# 12 function std
df.std()

one      3.666174
three    0.282843
dtype: float64

In [40]:
# 13 function var
df.var()

one      13.440833
three     0.080000
dtype: float64

In [41]:
# 14 function prod
df.prod()

one      7.77
three    2.21
dtype: float64