# Axis Indexes with Duplicate Labels

In [8]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(range(5),index=['a','a','b','b','c'])

In [3]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [5]:
# check the if indexes is duplict or not
obj.index.is_unique

False

In [6]:
obj.a

a    0
a    1
dtype: int64

In [7]:
obj.c

4

In [9]:
df = pd.DataFrame(np.random.rand(4,3),index=['a','a','b','b'])

In [10]:
df

          0         1         2
a  0.027365  0.729322  0.620994
a  0.063329  0.607558  0.657687
b  0.168204  0.324546  0.128776
b  0.700981  0.684646  0.263301

In [11]:
df.loc['b']

          0         1         2
b  0.168204  0.324546  0.128776
b  0.700981  0.684646  0.263301

In [12]:
df.loc['a']

          0         1         2
a  0.027365  0.729322  0.620994
a  0.063329  0.607558  0.657687