In [17]:
import pandas as pd

In [18]:
%%time
data = pd.read_csv('file_csv.csv')
data

Wall time: 610 ms

,Unnamed: 0,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,27273,131254,Kein Bund für's Leben (2007),Comedy
27274,27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,27275,131258,The Pirates (2014),Adventure
27276,27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [20]:
# convert csv to hdf

UsageError: Line magic function `%%time` not found.

In [21]:
%%time
data.to_hdf('nasa.h5',key='data')

Wall time: 325 ms

In [23]:
%%time 
df=pd.read_hdf('nasa.h5')
df

Wall time: 125 ms

,Unnamed: 0,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,27273,131254,Kein Bund für's Leben (2007),Comedy
27274,27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,27275,131258,The Pirates (2014),Adventure
27276,27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [24]:
%%time
data = pd.ExcelFile('file_excel.xlsx')

Wall time: 31 s

In [27]:
%%time
df =pd.read_excel(data,"Sheet1")

Wall time: 9.52 s

In [26]:
%%time
df

,Unnamed: 0,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,27273,131254,Kein Bund für's Leben (2007),Comedy
27274,27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,27275,131258,The Pirates (2014),Adventure
27276,27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,27277,131262,Innocence (2014),Adventure|Fantasy|Horror