# Working with Delimited Formats¶

## JSON Data

In [28]:
obj = """

{"name":"wed",
"place_lived":["united_stat","morocco","germany"],
"pet":null,
"siblinge":[{"name":"sckoot","age":30,
"pets":["ziko","tim"]},
{"name":"kate","age":30,
"pets":["python","javascript","typescript"]}]
}


"""

In [15]:
# tronsform json string to python

In [21]:
import json

In [29]:
res = json.loads(obj)

In [31]:
res

{'name': 'wed',
 'place_lived': ['united_stat', 'morocco', 'germany'],
 'pet': None,
 'siblinge': [{'name': 'sckoot', 'age': 30, 'pets': ['ziko', 'tim']},
  {'name': 'kate', 'age': 30, 'pets': ['python', 'javascript', 'typescript']}]}

In [32]:
type(res)

dict

In [33]:
# return to json formt
asjson = json.dumps(res)

In [34]:
asjson

'{"name": "wed", "place_lived": ["united_stat", "morocco", "germany"], "pet": null, "siblinge": [{"name": "sckoot", "age": 30, "pets": ["ziko", "tim"]}, {"name": "kate", "age": 30, "pets": ["python", "javascript", "typescript"]}]}'

In [35]:
type(asjson)

str

In [36]:
import pandas as pd

In [41]:
data = pd.DataFrame(res["siblinge"],columns=['name','age'])

In [42]:
data

     name  age
0  sckoot   30
1    kate   30

In [43]:
file = pd.read_json('file_json.json')

In [44]:
file

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror