In [ ]:
# 2 syntax to use pandas

In [4]:
from pandas import DataFrame,Series

In [5]:
import pandas as b

# Series

In [6]:
obj = b.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
type(obj)

pandas.core.series.Series

In [8]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj1=b.Series(data=[4,7,-5,3],index=['a','b','c','d'])
obj1

a    4
b    7
c   -5
d    3
dtype: int64

In [11]:
obj1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
# i want to change some values
obj1['a']=7
obj1['d']=2

In [15]:
obj1

a    7
b    7
c   -5
d    2
dtype: int64

In [16]:
obj1[['a',"c","d"]]

a    7
c   -5
d    2
dtype: int64

In [18]:
obj1[obj1>0]

a    7
b    7
d    2
dtype: int64

In [19]:
obj1*2

a    14
b    14
c   -10
d     4
dtype: int64

In [20]:
obj1/2

a    3.5
b    3.5
c   -2.5
d    1.0
dtype: float64

In [21]:
obj1**2

a    49
b    49
c    25
d     4
dtype: int64

In [22]:
'a' in obj1

True

In [23]:
'j' in obj1

False

In [27]:
sdata={'ouarzazate':3500,'rabat':71000,'casa':16000,'khiefra':90000}
obj2=b.Series(sdata)

In [25]:
obj2

ohio           3500
Texas         71000
orgen         16000
ouarzazate    90000
dtype: int64

In [28]:
stat=['ouarzazate','rabat','casa','khniefra']
obj3=b.Series(sdata,index=stat)
obj3

ouarzazate     3500.0
rabat         71000.0
casa          16000.0
khniefra          NaN
dtype: float64

In [29]:
b.isnull(obj3)

ouarzazate    False
rabat         False
casa          False
khniefra       True
dtype: bool

In [30]:
obj3.isnull()

ouarzazate    False
rabat         False
casa          False
khniefra       True
dtype: bool

In [32]:
obj2+obj3

casa           32000.0
khiefra            NaN
khniefra           NaN
ouarzazate      7000.0
rabat         142000.0
dtype: float64

In [33]:
obj3

ouarzazate     3500.0
rabat         71000.0
casa          16000.0
khniefra          NaN
dtype: float64

In [34]:
obj3.name='population'
obj3.index.name='stat'

In [35]:
obj3

stat
ouarzazate     3500.0
rabat         71000.0
casa          16000.0
khniefra          NaN
Name: population, dtype: float64

In [36]:
obj1

a    7
b    7
c   -5
d    2
dtype: int64

In [37]:
obj1.index=['x','y','t','h']

In [38]:
obj1

x    7
y    7
t   -5
h    2
dtype: int64