# Unique Values, Value Counts, and Membership

In [1]:
import pandas as pd

In [2]:
obj = pd.Series(['c','a','d','a','a','b','b','c','c'])

In [3]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [4]:
unique = obj.unique()

In [5]:
unique

array(['c', 'a', 'd', 'b'], dtype=object)

In [7]:
# count the values
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [8]:
pd.value_counts(obj.values,sort=False)

c    3
b    2
a    3
d    1
dtype: int64

In [9]:
pd.value_counts(obj.values,sort=True)

c    3
a    3
b    2
d    1
dtype: int64

In [10]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [11]:
mask = obj.isin(['b','c'])

In [12]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [13]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [14]:
to_match = pd.Series(['c','a','b','b','c','a'])
unique_vals=pd.Series(['c',"b","a"])

In [15]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [16]:
# for dataframe
data = pd.DataFrame({"q1":[1,3,4,3,4],
                    'q2':[2,3,1,2,3],
                    'q3':[1,5,2,4,4]})

In [17]:
data

   q1  q2  q3
0   1   2   1
1   3   3   5
2   4   1   2
3   3   2   4
4   4   3   4

In [22]:
result = data.apply(pd.value_counts).fillna(0)

In [23]:
result

    q1   q2   q3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0