# Data Loading, Storage, and File Formats

## Working with Delimited Formats

In [1]:
import csv

In [3]:
f = open('test1.csv')

In [4]:
reader = csv.reader(f)

In [5]:
for i in reader:
    print(i)

['ï»¿a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hi']
['5', '6', '7', '8', 'hello']
['9', '10', '11', '12', 'world']

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('test1.csv')

In [8]:
data

   a   b   c   d message
0  1   2   3   4      hi
1  5   6   7   8   hello
2  9  10  11  12   world

## i will use the with loop

In [9]:
with open('test1.csv') as f:
    lines = list(csv.reader(f))

In [10]:
header,values = lines[0],lines[1:]

In [11]:
data_dict={h:v for h,v in zip(header,zip(*values))}

In [12]:
data_dict

{'ï»¿a': ('1', '5', '9'),
 'b': ('2', '6', '10'),
 'c': ('3', '7', '11'),
 'd': ('4', '8', '12'),
 'message': ('hi', 'hello', 'world')}

In [13]:
data

   a   b   c   d message
0  1   2   3   4      hi
1  5   6   7   8   hello
2  9  10  11  12   world

In [14]:
with open('table.txt') as f:
    lines = list(csv.reader(f))

In [15]:
lines

[['       A         B         C'],
 ['aaa -0.264438 -1.026059 -0.619500'],
 ['bbb 0.927272 0.302904 -0.032399'],
 ['ccc -0.264273 -0.386314 -0.217601'],
 ['ddd -0.871858 -0.348382 1.100491'],
 []]

In [18]:
row = pd.read_table('table.txt',delimiter='\s+')

In [19]:
row

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

## wirtie the data

In [22]:
with open('mydata.csv',"w") as f:
    wir = csv.writer(f)
    wir.writerow(("one","two","three"))
    wir.writerow((1,2,3))
    wir.writerow((4,5,6))
    wir.writerow((7,8,9))

In [23]:
r = pd.read_csv('mydata.csv')
r

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9